<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="../public/style.css" />
    </head>


    <body>
        <h1>Détails des films</h1>
        <div>
            Ici sont répertoriés les détails autour de ma sélection de films !
        </div>
    </body>
</html>